* {
    padding: 0;
    margin: 0;
    background-color: #212226;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

body {
    position: relative;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav {
    padding: 1rem;
    margin: 10px;
    border-radius: 20px;
    border: none;
    font-size: medium;
}

.b1 {
    background-color: #50409A;
    color: #FFF;
}

.b1:hover {
    background-color: #463885;
    cursor: pointer;
}

.b2 {
    background-color: #964EC2;
    color: #FFF;
}

.b2:hover {
    background-color: #7a409e;
    cursor: pointer;
}

#logo {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    transition: transform 0.8s ease;
}

#logo:hover {
    transform: rotate(360deg);
}

.conteudo-forms {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block {
    display: block;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 30rem;
}





.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button  {
    cursor: pointer;
    background-color: #964EC2;
    color: #FFF;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 20px;
    border: none;
    width: 100%;
    font-size: medium;
}

.form-input input {
    padding: 10px;
    margin: 5px 0px;
    background-color: #ffffff;
    color: #212226;
    font-size: medium;
    border-radius: 10px;
}

.form-input label {
    margin-top: 5px;
    font-size: medium;
}

.content h1,h2 {
    margin: 2.5rem 0rem;
}

.aff {
    width: 50%;
}

.box {
    width: 60rem;
    text-align: center;
    
}

.box p {
    font-size: large;
    text-align: justify;
    margin-top: 10px;
}

/* card flutuante */

.floating-card {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212226;
    padding: 20px;
    border: 1px solid #212226;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    z-index: 1000;
    width: 300px; 
    height: 300px; 
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: none;  */
}

.floating-card .message {
    margin-bottom: 10px;
}

.floating-card .close-btn {
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #50409A;
    padding: 5px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.floating-card .error, .floating-card .success {
    /* Remova quaisquer estilos de fundo que estejam sendo aplicados */
    background-color: transparent; /* Ou qualquer outra cor de fundo desejada */
    color: #ffffff;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
    z-index: 999; /* Z-index maior que o z-index do conteúdo principal */
    display: none; /* Inicia oculto */
}

.blur-background {
    filter: blur(5px); /* Ajuste o valor de desfoque conforme necessário */
    pointer-events: none; /* Evita que o conteúdo desfocado seja interativo */
}
